<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Винегрет</title>
</head>
<body>
<style>
    div {
       margin: 0 40%;
       }

        h2 {
        color: blue;
        margin-top: 50px;
        font-size: 30px;
        }

        ol {
        color: green;
        font-size: 20px;
        margin-top: 20px;
        }

    <div>
</style>
        <h2 align="center"><b>{{ header.upper }}</b></h2>

    <ol>
    {% for key, value in russian_salad.items %}
    <li>{{ key }} : {{ value }}</li>
    {% endfor %}
    </ol>
</div>

</body>
</html>